* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}
:root {
    --clr : rgb(12, 12, 121);
}
body {
    width: available;
    height: available;
}
.container {
    display: flex;
    width: 130vmin;
    margin-left: auto;
    margin-right: auto;
}
.right {
    width: 70%;
    background-color: rgba(238, 222, 222, 0.4);
    border-top-right-radius: 5px;
}
.left {
    width: 30%;
    background-color: rgba(211, 211, 211, 0.699);
    border-top-left-radius: 5px;
}

h1 {
    /* text-align: center; */
    color: var(--clr);
    font-size: 6vmin;
    letter-spacing: 0.75vmin;
    margin-bottom: 10vmin;
}
.rightdiv {
    padding: 7vmin 4vmin 4vmin 4vmin ;
}
.sub-heading {
    font-weight: bold;
    color: var(--clr);
    margin-bottom: 0;
    padding-left: 5px;
    font-size: 4vmin;
    font-size-adjust: initial;
}
.hr {
    height: min-content;
    border-bottom: 2px solid var(--clr);
}
.table-head {
    font-weight: bold;
    color: black;
    width: max-content;
    vertical-align: text-top;
    min-height: max-content;
}

.leftdiv {
    padding: 15px;
    /* border: 1px solid red; */
}
 img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: 8vmin;
    box-shadow: 1vmin 1vmin 5px rgb(136, 136, 136);
}
.left-sub-heading {
    font-weight: bold;
    color: rgb(47, 81, 235);
    font-size: 4vmin;
    line-height: 0vmin;
    font-size-adjust: initial;
}
.left-content a, p, td {
    word-wrap: break-word;
    hyphens: auto;
    font-size: 3vmin;
    font-size-adjust: initial;
}
